.parentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  > div {
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 35rem;
  align-items: center;

  > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.diffContainer {
  width: 100%;
  flex-direction: row !important;
  .left {
    background: #6fa8dc;
    width: 50%;
    display: flex;
  }

  .right {
    background: #ffff00;
    width: 50%;
    display: flex;
  }
}

.status {
  width: 100%;
  align-items: center;
  > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    > * {
      margin-left: 0.25rem;
      margin-right: 0.25rem;
    }
  }
}

.divider {
  margin-left: 1rem;
  margin-right: 1rem;
}

.marginRight {

}
