.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 35rem;

  > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    > div {
      flex-grow: 1;
      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }
}
